<select class="selectpicker form-control-sm form-control dropdown" multiple data-live-search="true" required="true"
        name="countries" id="countries">
    <option value="afghanistan">Afghanistan</option>
    <option value="albanien">Albanien</option>
    <option value="algerien">Algerien</option>
    <option value="andorra">Andorra</option>
    <option value="angola">Angola</option>
    <option value="antigua & barbuda">Antigua & Barbuda</option>
    <option value="argentinien">Argentinien</option>
    <option value="australien">Australien</option>
    <option value="br deutschland">BR Deutschland</option>
    <option value="bahamas">Bahamas</option>
    <option value="bahrain">Bahrain</option>
    <option value="bangladesch">Bangladesch</option>
    <option value="barbados">Barbados</option>
    <option value="belgien">Belgien</option>
    <option value="belize">Belize</option>
    <option value="benin">Benin</option>
    <option value="bhutan">Bhutan</option>
    <option value="birma">Birma</option>
    <option value="bolivien">Bolivien</option>
    <option value="botswana">Botswana</option>
    <option value="brasilien">Brasilien</option>
    <option value="brunei">Brunei</option>
    <option value="bulgarien">Bulgarien</option>
    <option value="burkina faso">Burkina Faso</option>
    <option value="burundi">Burundi</option>
    <option value="canada">Canada</option>
    <option value="chile">Chile</option>
    <option value="china">China</option>
    <option value="costa rica">Costa Rica</option>
    <option value="djibouti">Djibouti</option>
    <option value="dominica">Dominica</option>
    <option value="dominikanische republik">Dominikanische Republik</option>
    <option value="dänemark">Dänemark</option>
    <option value="ecuador">Ecuador</option>
    <option value="el salvador">El Salvador</option>
    <option value="elfenbeinküste">Elfenbeinküste</option>
    <option value="fidschi">Fidschi</option>
    <option value="finnland">Finnland</option>
    <option value="frankreich">Frankreich</option>
    <option value="gabun">Gabun</option>
    <option value="gambia">Gambia</option>
    <option value="ghana">Ghana</option>
    <option value="grenada">Grenada</option>
    <option value="griechenland">Griechenland</option>
    <option value="großbritannien & nordirl.">Großbritannien & Nordirl.</option>
    <option value="guatemala">Guatemala</option>
    <option value="guayana">Guayana</option>
    <option value="guinea">Guinea</option>
    <option value="guinea-bissau">Guinea-Bissau</option>
    <option value="haiti">Haiti</option>
    <option value="honduras">Honduras</option>
    <option value="indien">Indien</option>
    <option value="indonesien">Indonesien</option>
    <option value="irak">Irak</option>
    <option value="iran">Iran</option>
    <option value="irland">Irland</option>
    <option value="island">Island</option>
    <option value="israel">Israel</option>
    <option value="italien">Italien</option>
    <option value="jamaica">Jamaica</option>
    <option value="japan">Japan</option>
    <option value="jemen(arab.republik)">Jemen(Arab.Republik)</option>
    <option value="jemen(dem.volksrep.)">Jemen(Dem.Volksrep.)</option>
    <option value="jordanien">Jordanien</option>
    <option value="jugoslawien">Jugoslawien</option>
    <option value="kambodscha">Kambodscha</option>
    <option value="kamerun">Kamerun</option>
    <option value="kap verde">Kap Verde</option>
    <option value="kenia">Kenia</option>
    <option value="kiribati">Kiribati</option>
    <option value="kolumbien">Kolumbien</option>
    <option value="komoren">Komoren</option>
    <option value="kongo">Kongo</option>
    <option value="korea nord">Korea Nord</option>
    <option value="korea süd">Korea Süd</option>
    <option value="kuba">Kuba</option>
    <option value="kuwait">Kuwait</option>
    <option value="laos">Laos</option>
    <option value="lesotho">Lesotho</option>
    <option value="libanon">Libanon</option>
    <option value="liberia">Liberia</option>
    <option value="libyen">Libyen</option>
    <option value="liechtenstein">Liechtenstein</option>
    <option value="luxemburg">Luxemburg</option>
    <option value="madagaskar">Madagaskar</option>
    <option value="malawi">Malawi</option>
    <option value="malaysia">Malaysia</option>
    <option value="malediven">Malediven</option>
    <option value="mali">Mali</option>
    <option value="malta">Malta</option>
    <option value="marokko">Marokko</option>
    <option value="mauretanien">Mauretanien</option>
    <option value="mauritius">Mauritius</option>
    <option value="mexico">Mexico</option>
    <option value="mocambique">Mocambique</option>
    <option value="monaco">Monaco</option>
    <option value="mongolei">Mongolei</option>
    <option value="nauru">Nauru</option>
    <option value="nepal">Nepal</option>
    <option value="neuseeland">Neuseeland</option>
    <option value="nicaragua">Nicaragua</option>
    <option value="niederlande">Niederlande</option>
    <option value="niger">Niger</option>
    <option value="nigeria">Nigeria</option>
    <option value="norwegen">Norwegen</option>
    <option value="oman">Oman</option>
    <option value="pakistan">Pakistan</option>
    <option value="panama">Panama</option>
    <option value="papua neuguinea">Papua Neuguinea</option>
    <option value="paraguay">Paraguay</option>
    <option value="peru">Peru</option>
    <option value="philippinen">Philippinen</option>
    <option value="polen">Polen</option>
    <option value="portugal">Portugal</option>
    <option value="quatarrh">Quatarrh</option>
    <option value="ruanda">Ruanda</option>
    <option value="rumänien">Rumänien</option>
    <option value="saint christopher & nevis">Saint Christopher & Nevis</option>
    <option value="saint lucia">Saint Lucia</option>
    <option value="saint vincent">Saint Vincent</option>
    <option value="salomon inseln">Salomon Inseln</option>
    <option value="sambia">Sambia</option>
    <option value="san marino">San Marino</option>
    <option value="sao tome & principe">Sao Tome & Principe</option>
    <option value="saudi arabien">Saudi Arabien</option>
    <option value="schweden">Schweden</option>
    <option value="schweiz">Schweiz</option>
    <option value="senegal">Senegal</option>
    <option value="seychellen">Seychellen</option>
    <option value="sierra leone">Sierra Leone</option>
    <option value="singapur">Singapur</option>
    <option value="somalia">Somalia</option>
    <option value="spanien">Spanien</option>
    <option value="sri lanka">Sri Lanka</option>
    <option value="sudan">Sudan</option>
    <option value="surinam">Surinam</option>
    <option value="swasiland">Swasiland</option>
    <option value="syrien">Syrien</option>
    <option value="südafrika">Südafrika</option>
    <option value="taiwan">Taiwan</option>
    <option value="tansania">Tansania</option>
    <option value="thailand">Thailand</option>
    <option value="togo">Togo</option>
    <option value="tonga">Tonga</option>
    <option value="trinidad & tobago">Trinidad & Tobago</option>
    <option value="tschad">Tschad</option>
    <option value="tschechoslowakei">Tschechoslowakei</option>
    <option value="tunesien">Tunesien</option>
    <option value="tuvalu">Tuvalu</option>
    <option value="türkei">Türkei</option>
    <option value="usa">USA</option>
    <option value="udssr">UdSSR</option>
    <option value="uganda">Uganda</option>
    <option value="ungarn">Ungarn</option>
    <option value="uruguay">Uruguay</option>
    <option value="vanuatu">Vanuatu</option>
    <option value="vatikanstaat">Vatikanstaat</option>
    <option value="venezuela">Venezuela</option>
    <option value="verein. arabische emirate">Verein. Arabische Emirate</option>
    <option value="vietnam">Vietnam</option>
    <option value="west samoa">West Samoa</option>
    <option value="zaire">Zaire</option>
    <option value="zentralafrika">Zentralafrika</option>
    <option value="zimbabwe">Zimbabwe</option>
    <option value="zypern">Zypern</option>
    <option value="ägypten">Ägypten</option>
    <option value="äquatorialguinea">Äquatorialguinea</option>
    <option value="äthiopien">Äthiopien</option>
    <option value="österreich">Österreich</option>
</select>