<!DOCTYPE html>
<html lang="de">
<head>
    {% if cookiesConfirmed == True %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2418QFRDRP"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-2418QFRDRP');
        </script>
    {% endif %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,900;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Megrim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/fontawesome-free-5.9.0-web/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <link rel="stylesheet" href="/static/lib/fileupload/bootstrap-imageupload.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>BlogBar (InfluencerSearch)</title>
    {% block head_extension %}
    {% endblock %}
</head>
<body data-spy="scroll" data-offset="10" style="position:relative" data-target=".navbar">
<div>
    {% block navigation %}
        <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-info shadow">
            <img src="/static/img/logo/glass_white.png" width="30px;"><a class="navbar-brand"
                                                                         style="font-family: Megrim;"
                                                                         href="/{{ language_abbr }}/"><span
                style="font-family: Megrim, sans-serif;">BLOGBAR</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    {% if logged_in and (kind == 1 or subscribtion_package == "prime") %}
                        </li>
                        <li class="nav-item {{ marketplace_act }}">
                            <a class="nav-link" href="/{{ language_abbr }}/publiccampaigns"> <i
                                    class="fas fa-search-dollar"></i>{% if language_abbr == 'de' %}
                                Kampagnenmarkplatz {% else %} Campaign-marketplace {% endif %} <span
                                    class="sr-only"></span></a>
                        </li>
                    {% endif %}
                    {% if not logged_in and solution_act == 'active' %}
                        <li class="nav-item">
                            <a class="nav-link active" href="#"> Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if solution_act is defined %}
                            <li class="nav-item">
                                <a class="nav-link" href="#company_solution_overview"> <i class="far fa-building"></i>
                                    {% if language_abbr == 'de' %} Unternehmen {% else %} Companies {% endif %} <span
                                            class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#influencer_solution_overview"> <i
                                        class="fas fa-user-tag"></i> {% if language_abbr == 'de' %}
                                    Influencer {% else %} Influencers {% endif %} <span class="sr-only"></span></a>
                            </li>
                        {% endif %}
                    {% elif logged_in and kind == 1 %}
                        <li class="nav-item {{ profile_act }}">
                            <a class="nav-link" href="/{{ language_abbr }}/profile"> <i class="far fa-id-card"></i>
                                {% if language_abbr == 'de' %} Mein Profil {% else %} My profile {% endif %} <span
                                        class="sr-only"></span></a>
                        </li>
                        <li class="nav-item {{ preferences_act }}">
                            <a class="nav-link" href="/{{ language_abbr }}/preferences"> <i
                                    class="fas fa-sliders-h"></i> {% if language_abbr == 'de' %}
                                Profilmanagement {% else %} Profilemanagement {% endif %} <span class="sr-only"></span></a>
                        </li>
                    {% elif logged_in and kind == 2 %}
                        <li class="nav-item {{ nonpublic_campaigns_act }}">
                            <a class="nav-link" href="/{{ language_abbr }}/campaigns"> {% if language_abbr == 'de' %}
                                Meine Kampagnen {% else %} My campaigns {% endif %} <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item {{ saved_queries_act }}">
                            <a class="nav-link" href="/{{ language_abbr }}/saved_queries"> <i class="fas fa-search"></i>
                                {% if language_abbr == 'de' %} Gespeicherte Suchanfragen {% else %} Saved
                                    queries {% endif %} <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item {{ preferences_act }}">
                            <a class="nav-link" href="/{{ language_abbr }}/preferences"> <i
                                    class="fas fa-sliders-h"></i> {% if language_abbr == 'de' %}
                                Einstellungen {% else %} Preferences {% endif %} <span class="sr-only"></span></a>
                        </li>
                    {% endif %}
                    <li class="nav-item {{ faq_act }}">
                        <a class="nav-link" href="/{{ language_abbr }}/faq"> <i class="fas fa-wave-square"></i> FAQ
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item {{ search_act }}">
                        <a class="nav-link" href="/{{ language_abbr }}/search">{% if language_abbr == 'de' %}
                            Suche {% else %} Search {% endif %}</a>
                    </li>
                </ul>
                <div class="btn-group dropleft">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span class="text-white"><i class="fas fa-globe"></i></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="set_langauge_to('de')">German (Deutsch)
                            {% if language_abbr == 'de' %} <i class="fas fa-check"></i>{% endif %}</a>
                        <a class="dropdown-item" onclick="set_langauge_to('en')">English (Englisch)
                            {% if language_abbr == 'en' %} <i class="fas fa-check"></i>{% endif %}</a>
                    </div>
                </div>
                {% if not logged_in %}
                    <a href="/{{ language_abbr }}/login" class="btn text-white"><i class="fas fa-sign-in-alt"> </i>
                        {% if language_abbr == 'de' %} Einloggen {% else %} Log In {% endif %}</a>
                {% else %}
                    <a href="/{{ language_abbr }}/logout" class="btn text-white" id="logoutAnker"><i
                            class="fas fa-sign-out-alt"> </i>{% if language_abbr == 'de' %} Ausloggen {% else %} Log
                        Out {% endif %}</a>
                {% endif %}
            </div>
        </nav>
        </div>
    {% endblock %}

{% block container %}
    <h5>Home</h5>
{% endblock %}

<div id="cookieConsent">
    <span class="text">
        {% if language_abbr=="de"%}
            Diese Website verwendet Cookies, um Ihre Erfahrung zu verbessern. 
            Wenn Sie diese Website weiterhin besuchen, stimmen Sie der Verwendung von Cookies zu.
        {% else %}
            This website is using cookies to enhance your experience. By continuing
            to visit this website, you agree to our use of cookies. 
        {% endif %}
        <a href="/{{language_abbr}}/download/privacy_policy" target="_blank">
            {% if language_abbr=="de" %}Mehr Info{%else%}More Info{%endif%}
        </a> 
    </span>

    <a class="cookieConsentOK">
        {% if language_abbr=="de" %}Akzeptieren und schließen{%else%}Accept And Close{%endif%}
    </a>

</div>

<script lang="js">
</script>

{% include "layouts/supporting_files/footer.html" %}
</div>
<script src="/static/lib/jquery/jquery.min.js"></script>
<script SRC="/static/lib/popper/popper.min.js"></script>
<script src="/static/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/lib/bootstrap-select-modern/select.js"></script>
<script src="/static/js/sender.js"></script>
<script src="/static/js/modal_handling.js"></script>
<script src="/static/js/language_handler.js"></script>

{% if cookiesConfirmed == None %}

    <script>
        function sendDecision(decision) {
            const url = '/api/cookieDecision';
            const data = {
                decision: decision.toString(),
            };

            fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(data => {
                $('#cookieAlert').modal('hide');
            }).catch(error => console.error(error));
        }

            // Script for the cookie notification
            setTimeout(function () {
            $("#cookieConsent").css("display", "flex").hide().fadeIn(300);
        }, 2000);
        $("#closeCookieConsent, .cookieConsentOK").click(function() {
            sendDecision(true)
            $("#cookieConsent").fadeOut(200);
    });
    </script>

{% endif %}

</body>
</html>