{% extends "layouts/base.html" %}

{% block container %}
    <div class="container pn-gl-mt-35">
        <h1 class="display-4">Impressum</h1>
        <p>
            BlogBar Digital Network UG (haftungsbeschränkt)<br>
            Krausstr. 1<br>
            D-63897 Miltenberg<br><br>
            Vertretungsberechtigter Geschäftsführer: Axel Sommer
        </p>
        <p>
            <u>Kontakt:</u><br>
            Telefon: 0049 176-8747 9127<br>
            EMail: <a href="mailto:cheers@blogbar.eu">cheers@blogbar.eu</a><br>
            <a href="http://www.blogbar.eu">www.blogbar.eu</a><br>
        </p>
        <p>
            Registergericht: Amtsgericht Aschaffenburg<br>
            Registernummer: HRB 15208<br>
            Umsatzsteuer-Identifikationsnummer gem. § 27a UStG: DE 204/122/51203<br>
            Inhaltlich Verantwortliche: Axel Sommer, Carolin Wolz (Anschrift s.o.)<br>
        </p>
        <p class="text-justify">
            <u>Haftungshinweis</u><br>
            Für journalistische und redaktionelle Inhalte von BlogBar selbst ist der vertretungsberechtigte
            Geschäftsführer Axel Sommer verantwortlich. Axel Sommer ist unter den im Impressum genannten
            Kontaktdaten erreichbar.<br><br>
            BlogBar ermöglicht es auch Dritten, Daten und Inhalte auf den Webseiten des BlogBar Netzwerks
            selbst zu veröffentlichen oder per Link über das BlogBar Netzwerk zugänglich zu machen. Für diese
            Daten und Inhalte sind in erster Linie die Dritten selbst verantwortlich. Sollten Sie Zweifel an der
            Rechtmäßigkeit solcher Inhalte oder Links haben, wenden Sie sich bitte ebenfalls unter den
            vorstehenden Kontaktdaten an Axel Sommer. BlogBar wird die Inhalte sodann überprüfen und ggf.
            erforderliche Schritte einleiten.
        </p>
        <p class="text-justify">
            <u>Online-Streitbeilegung</u><br>
            Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit. Die
            Plattform finden Sie unter <a
                href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>. Verbraucher haben
            die
            Möglichkeit, diese Plattform für die Beilegung ihrer Streitigkeiten zu nutzen.
        </p>
        <p class="text-justify">
            <u>Beilegung von Verbraucherstreitigkeiten</u><br>
            Zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle sind wir
            nicht verpflichtet und auch nicht bereit.
        </p>
    </div>

{% endblock %}