<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p>Hi {first_name},<br>
    <br>
    es wurde sich vor kurzen in Dein BlogBar-Konto eingeloggt.<br>
    Falls Du es selbst warst, kannst du diese Mail ignorieren.
</p>

<p>Falls Du das Gefühl haben solltest, eine fremde Person ist im Besitz deiner Zugangsdaten, solltest du diese unter
    den Kontoeinstellungen sofort ändern: <a href="https://116.203.87.185/de/login"> Hier anmelden </a></p>

<p>Du kannst dich bei Fragen zur weiteren Vorgehensweise gerne bei unserem Support-Team melden.<br><br></p>
</body>

</html>