{% if influencer_data["is_listed_on_pinterest"] is defined %}
    <div class="card pn-total-width pn-gl-mt-15">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h5 class="card-title"><i class="fab fa-pinterest" style="color:#bcbcbc;"></i> Pinterest</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        @{{ influencer_data["is_listed_on_pinterest"]["pinterest_username"] }}</h6>
                </div>
                <div class="col-md-3">
                    <div class="display-3 text-right inline-group" style="padding-right: 20px;">
                        <i class="fab fa-pinterest" style="color:#bcbcbc;"></i>
                    </div>
                </div>
            </div>
            <div class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ influencer_data["is_listed_on_pinterest"]["pinterest_follower_amount"] }}
                        Follower
                    </li>
                    <li class="list-group-item">{% if subscription_packet == "prime" %}
                        {{ influencer_data["is_listed_on_pinterest"]["pinterest_post_amount"] }} Pins {% else %}
                        Pinanzahl:
                        <span class="text-danger">{% if language_abbr == 'de' %}ab PRIME sichtbar{% else %}visible from
                            PRIME{% endif %}</span> {% endif %}</li>
                    <li class="list-group-item">Content: {% if subscription_packet == "prime" %}
                        {% for content in influencer_data["is_listed_on_pinterest"]["content_types"] %}{{ content }}
                            , {% endfor %}{% else %}
                        <span class="text-danger">{% if language_abbr == 'de' %}ab PRIME sichtbar{% else %}visible from
                            PRIME{% endif %}</span> {% endif %}</li>
                    <li class="list-group-item">{% if language_abbr == 'de' %}Rhythmus{% else %}Rhythm{% endif %}:
                        {% if subscription_packet == "prime" %}
                            {{ influencer_data["is_listed_on_pinterest"]["pinterest_rhythm"] }}{% else %}
                            <span class="text-danger">{% if language_abbr == 'de' %}ab PRIME sichtbar{% else %}visible
                                from PRIME{% endif %}</span> {% endif %}</li>
                    <li class="list-group-item">{% if language_abbr == 'de' %}Betrachter{% else %}Viewer{% endif %}:
                        {% if subscription_packet == "prime" %}
                            {{ influencer_data["is_listed_on_pinterest"]["pinterest_viewer_amount"] }}{% else %}
                            <span class="text-danger"> {% if language_abbr == 'de' %}ab PRIME sichtbar{% else %}visible
                                from PRIME{% endif %}</span> {% endif %}</li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}