<div class="row">
    {% include "search_and_filter/channel_relations/instagram_related/basic/follower_range.html" %}

    {% if subscription_packet == "pro" or subscription_packet == "prime" %}

        {% include "search_and_filter/channel_relations/instagram_related/pro/active_coutries.html" %}
        {% include "search_and_filter/channel_relations/instagram_related/pro/age_distribution.html" %}
        {% include "search_and_filter/channel_relations/instagram_related/pro/gender_distribution.html" %}

    {% endif %}
</div>
<div class="row">

    {% if subscription_packet == "prime" %}
        {% include "search_and_filter/channel_relations/instagram_related/prime/engagement_rate_range.html" %}
        {% include "search_and_filter/channel_relations/instagram_related/prime/follower_ratio_range.html" %}
        {% include "search_and_filter/channel_relations/instagram_related/prime/posts_amount_range.html" %}
        {% include "search_and_filter/channel_relations/instagram_related/prime/content_type_picker.html" %}
        {% include "search_and_filter/channel_relations/instagram_related/prime/rhythm_types.html" %}
    {% endif %}

</div>