<div class="card pn-gl-mt-75">
    <div class="card-header">
        <strong>Vorname Name</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img src="https://www.ullamodels.com/media/images/profile/1182_bart%20profiel1.jpg" width="100%">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-2"><i class="fab fa-instagram"> 99.219 Follower</i></div>
                    <div class="col-sm-2"><i class="fab fa-facebook"> 49.229 Follower</i></div>
                    <div class="col-sm-2"><i class="fab fa-snapchat"> 65.439 Follower</i></div>
                    <div class="col-sm-2"><i class="fab fa-tumblr"> 6.219 Follower</i></div>
                    <div class="col-sm-2"><i class="fab fa-pinterest"> 16.219 Follower</i></div>
                    <div class="col-sm-2"><i class="fab fa-youtube"> 2.278 Follower</i></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Geschlecht: </strong>m</div>
                    <div class="col-md-2"><strong>Geburtsjahr: </strong>2002</div>
                    <div class="col-md-2"><strong>Homebase: </strong>46286</div>
                    <div class="col-md-6"><strong>Themen: </strong>Sport und Fitness, Luxus, Urlaub, Reisen, Technik
                    </div>
                </div>
                <div class="row pn-gl-mt-25 text-center">
                    <div class="col-md-12">
                        <table class="table table-sm table-striped" style="table-layout: fixed; column-width: auto;">
                            <thead>
                            <tr class="text-center">
                                <th scope="col"></th>
                                <th scope="col"><i class="fab fa-instagram"></th>
                                <th scope="col"><i class="fab fa-facebook"></th>
                                <th scope="col"><i class="fab fa-snapchat"></th>
                                <th scope="col"><i class="fab fa-tumblr"></th>
                                <th scope="col"><i class="fab fa-pinterest"></th>
                                <th scope="col"><i class="fab fa-youtube"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr scope="row">
                                <th>Performance</th>
                                <td>20% - 30%</td>
                                <td>2% - 3%</td>
                                <td>8% - 9%</td>
                                <td>20% - 30%</td>
                                <td>30% - 40%</td>
                                <td>10% - 15%</td>
                            </tr>
                            <tr>
                                <th>Posts</th>
                                <td>230</td>
                                <td>22</td>
                                <td>-</td>
                                <td>12</td>
                                <td>25</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>Altersverteilung</th>
                                <td>unter 18</td>
                                <td>18 - 25</td>
                                <td>18 - 25</td>
                                <td>25 - 45</td>
                                <td>unter 18</td>
                                <td>unter 18</td>
                            </tr>
                            <tr>
                                <th>m / w</th>
                                <td>18% / 72%</td>
                                <td>18 - 25</td>
                                <td>18 - 25</td>
                                <td>25 - 45</td>
                                <td>unter 18</td>
                                <td>unter 18</td>
                            </tr>
                            <tr>
                                <th>Follower ratio</th>
                                <td>18%</td>
                                <td>25%</td>
                                <td>19%</td>
                                <td>2%</td>
                                <td>< 1%</td>
                                <td><1%</td>
                            </tr>
                            <tr>
                                <th>Content</th>
                                <td>Posts, Storys, Videos</td>
                                <td>Storys</td>
                                <td>Storys</td>
                                <td>Posts</td>
                                <td>Storys, Videos</td>
                                <td>Videos</td>
                            </tr>
                            <tr>
                                <th>Rhythmus</th>
                                <td>täglich</td>
                                <td>wöchentlich</td>
                                <td>wöchentlich</td>
                                <td>täglich</td>
                                <td>täglich</td>
                                <td>täglich</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-sm btn-outline-dark"><i class="fas fa-thumbtack"> Anpinnen</i></button>
        <button class="btn btn-sm btn-outline-dark"><i class="fas fa-warning"> Melden</i></button>
        <button class="btn btn-sm btn-outline-dark"><i class="fas fa-eye"> Details ansehen</i></button>
        <a href="mailto:influencer@example.org" class="btn btn-sm btn-outline-dark"><i class="far fa-comment-alt"> Mail
            senden</i></a>
    </div>
</div>