<div class="col-lg-2">
    <label for="instagramfollowerRatioFrom">{% if language_abbr == 'de' %}Follower Ratio von{% else %}Follower Ratio
        from{% endif %}</label>
    <select class="selectpicker form-control-sm form-control dropdown" name="instagramfollowerRatioFrom"
            id="instagramfollowerRatioFrom">
        <option value="UNDEFINED"> beliebig</option>
        <option value="0"> 0%</option>
        <option value="1"> 1%</option>
        <option value="2"> 2%</option>
        <option value="3"> 3%</option>
        <option value="4"> 4%</option>
        <option value="5"> 5%</option>
        <option value="6"> 6%</option>
        <option value="7"> 7%</option>
        <option value="8"> 8%</option>
        <option value="9"> 9%</option>
        <option value="10"> 10%</option>
        <option value="15"> 15%</option>
        <option value="20"> 20%</option>
        <option value="30"> 30%</option>
        <option value="40"> 40%</option>
        <option value="50"> 50%</option>
    </select>
</div>
<div class="col-lg-2">
    <label for="instagramfollowerRatioTo">{% if language_abbr == 'de' %}Follower Ratio bis{% else %}Follower Ratio
        to{% endif %}</label>
    <select class="selectpicker form-control-sm form-control dropdown" name="instagramfollowerRatioTo"
            id="instagramfollowerRatioTo">
        <option value="0"> 0%</option>
        <option value="1"> 1%</option>
        <option value="2"> 2%</option>
        <option value="3"> 3%</option>
        <option value="4"> 4%</option>
        <option value="5"> 5%</option>
        <option value="6"> 6%</option>
        <option value="7"> 7%</option>
        <option value="8"> 8%</option>
        <option value="9"> 9%</option>
        <option value="10"> 10%</option>
        <option value="15"> 15%</option>
        <option value="20"> 20%</option>
        <option value="30"> 30%</option>
        <option value="40"> 40%</option>
        <option value="50"> 50%</option>
        <option value="UNDEFINED" selected> beliebig</option>
    </select>
</div>