<div class="col-lg-2">
    <label for="youtube_impressions_from">{% if language_abbr == 'de' %}Impressions von{% else %}Impressions
        from{% endif %}</label>
    <select class="selectpicker form-control-sm form-control dropdown" name="youtube_impressions_from"
            id="youtube_impressions_from">
        <option value="UNDEFINED"
                {% if youtube_impressions_from == 'UNDEFINED' or youtube_impressions_from is undefined %}selected{% endif %}>
            beliebig
        </option>
        {% for amount in [100, 250, 750, 1000, 1500, 2500, 5000, 7500, 10000, 12500, 15000, 20000, 25000, 30000, 40000, 50000, 750000, 100000, 125000, 250000, 500000, 750000, 1000000, 2000000, 500000, 1000000] %}
            <option value="{{ amount }}"
                    {% if youtube_impressions_from == amount|string %}selected{% endif %}>{{ amount }}</option>
        {% endfor %}
    </select>
</div>
<div class="col-lg-2">
    <label for="youtube_impressions_from">{% if language_abbr == 'de' %}Impressions bis{% else %}Impressions
        to{% endif %}</label>
    <select class="selectpicker form-control-sm form-control dropdown" name="youtube_impressions_to"
            id="youtube_impressions_to">
        {% for amount in [100, 250, 750, 1000, 1500, 2500, 5000, 7500, 10000, 12500, 15000, 20000, 25000, 30000, 40000, 50000, 750000, 100000, 125000, 250000, 500000, 750000, 1000000, 2000000, 500000, 1000000] %}
            <option value="{{ amount }}"
                    {% if youtube_impressions_to == amount|string %}selected{% endif %}>{{ amount }}</option>
        {% endfor %}
        <option value="UNDEFINED"
                {% if youtube_impressions_to == 'UNDEFINED' or youtube_impressions_to is undefined %}selected{% endif %}>
            beliebig
        </option>
    </select>
</div>