{% extends "layouts/base.html" %}

{% block container %}

    <div class="container pn-gl-mt-25">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/{{ language_abbr }}/preferences">{% if language_abbr == 'de' %}
                    Profilmanagement{% else %}Profilemanagement{% endif %}</a></li>
                <li class="breadcrumb-item"><a href="/{{ language_abbr }}/preferences/channels">
                    {% if language_abbr == 'de' %}Kanäle{% else %}channels{% endif %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% if language_abbr == 'de' %}eigener
                    Blog{% else %}personal blog{% endif %}</li>
            </ol>
        </nav>
        <h1 class="display-4"><i class="fas fa-blog" style="color: #bcbcbc"></i> Blog</h1></h1>
        <form method="POST">
            {% if error is defined %}
                <div class="alert alert-primary" role="alert">
                    {% if error == 'USERNAME/URL_ALREDY_EXISTS' %}
                        {% if language_abbr == 'de' %}
                            Die Blog-Domain wird bereits verwendet. Bitte wende dich an unseren support
                            (cheers@blogbar.eu) und reiche eine Beschwerde ein, sofern es sich um dein Profil handelt.
                        {% else %}
                            The blog-domain is already in use. Please contact our support (cheers@blogbar.eu) and file a
                            complaint if it is your profile.
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="listing_on"
                               id="switch_state_blog_listing" {% if listing_on == True %}checked{% endif %}>
                        <label class="custom-control-label" for="switch_state_blog_listing">
                            {% if language_abbr == 'de' %}Kanal anzeigen{% else %}display channel{% endif %}</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label col-form-label-sm">
                            <strong>URL</strong>
                        </label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="url" class="form-control form-control-sm" required="true" id="username"
                                           name="username" value="{{ blog_domain }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group row">
                        <label for="follower" class="col-sm-2 col-form-label col-form-label-sm">
                            <strong>{% if language_abbr == 'de' %}Abonnenten{% else %}subscribers{% endif %}</strong>
                        </label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="number" class="form-control form-control-sm" required="true"
                                           id="follower" name="follower" min="100" value="{{ blog_follower_amount }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="post_amount" class="col-sm-2 col-form-label col-form-label-sm">
                            <strong>{% if language_abbr == 'de' %}Anzahl an Posts{% else %}Number of
                                posts{% endif %}</strong>
                        </label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="number" class="form-control form-control-sm" required="true"
                                           id="post_amount" name="post_amount" min="1" value="{{ blog_post_amount }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="blog_content" class="col-sm-2 col-form-label col-form-label-sm">
                            <strong>Content</strong>
                        </label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <select multiple="true" class="selectpicker form-control-sm form-control dropdown"
                                            name="blog_content" id="blog_content">
                                        <option value="1" {% if 1 in content_types %}selected{% endif %}>Post</option>
                                        <option value="2" {% if 2 in content_types %}selected{% endif %}>Story</option>
                                        <option value="3" {% if 3 in content_types %}selected{% endif %}>Video</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="blog_rhythm_types" class="col-sm-2 col-form-label col-form-label-sm">
                            <strong>{% if language_abbr == 'de' %}Rhythmus{% else %}Rhythm{% endif %}</strong>
                        </label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="selectpicker form-control-sm form-control dropdown"
                                            name="blog_rhythm_types" id="blog_rhythm_types">
                                        <option value="1" {% if blog_rhythm == 1 %}selected{% endif %}>
                                            {% if language_abbr == 'de' %}täglich{% else %}on a daily
                                                basis{% endif %}</option>
                                        <option value="2" {% if blog_rhythm == 2 %}selected{% endif %}>
                                            {% if language_abbr == 'de' %}wöchentlich{% else %}on a weekly
                                                basis{% endif %}</option>
                                        <option value="3" {% if blog_rhythm == 3 %}selected{% endif %}>
                                            {% if language_abbr == 'de' %}alle 2 Wochen{% else %}every 2
                                                weeks{% endif %}</option>
                                        <option value="4" {% if blog_rhythm == 4 %}selected{% endif %}>
                                            {% if language_abbr == 'de' %}alle 2 - 3 Wochen{% else %}every 2 - 3
                                                weeks{% endif %}</option>
                                        <option value="5" {% if blog_rhythm == 5 %}selected{% endif %}>
                                            {% if language_abbr == 'de' %}alle 3 Wochen{% else %}every 3
                                                weeks{% endif %}</option>
                                        <option value="6" {% if blog_rhythm == 6 %}selected{% endif %}>
                                            {% if language_abbr == 'de' %}alle 3 - 4 Wochen{% else %}every 3 - 4
                                                weeks{% endif %}</option>
                                        <option value="7" {% if blog_rhythm == 7 %}selected{% endif %}>
                                            {% if language_abbr == 'de' %}monatlich{% else %}monthly{% endif %}</option>
                                        <option value="8" {% if blog_rhythm == 8 %}selected{% endif %}>
                                            {% if language_abbr == 'de' %}alle 4 - 5 Wochen{% else %}every 4 - 5
                                                weeks{% endif %}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                </li>

                <li class="list-group-item">

                    <div class="form-group row">
                        <label for="blog_page_views" class="col-sm-2 col-form-label col-form-label-sm">
                            <strong>{% if language_abbr == 'de' %}Betrachter{% else %}Viewer{% endif %}</strong>
                        </label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="number" class="form-control form-control-sm" required="true"
                                           id="blog_page_views" name="blog_page_views" min="100"
                                           value="{{ blog_page_views_amount }}">
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
            <input type="submit" class="btn btn-sm btn-outline-success pn-gl-mt-15 col-md-4"
                   id="submitBlogPreferences" value="Änderungen speichern">
        </form>
    </div>

{% endblock %}