<div class="form-group row">
    <label for="pwd" class="col-sm-2 col-form-label col-form-label-sm">
        <strong>{% if language_abbr == 'de' %}Passwort{% else %}Password{% endif %}</strong>
    </label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-md-6">
                <input type="password" class="form-control form-control-sm" required="true" id="pwd" name="pwd"
                       placeholder="{% if language_abbr == 'de' %}Passwort{% else %}Password{% endif %}">
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control form-control-sm" required="true" id="pwd2" name="pwd2"
                       placeholder="{% if language_abbr == 'de' %}Passwort wiederholen{% else %}Confirm password{% endif %}">
            </div>
        </div>
    </div>
</div>