<div class="form-group row">
    <label for="streetWithHouseNumber" class="col-sm-2 col-form-label col-form-label-sm">
        <strong>Adresse</strong>
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" required="true" id="streetWithHouseNumber"
               name="streetWithHouseNumber" value="{{ streetWithHouseNumber }}"
               placeholder="{% if language_abbr == 'de' %}Straße, Hausnummer{% else %}Street, Housenumber{% endif %}">
        <div class="row pn-gl-mt-15">
            <div class="col-md-4">
                <input type="text" maxlength="5" class="form-control form-control-sm" required="true" id="postcode"
                       name="postcode" value="{{ postcode }}"
                       placeholder="{% if language_abbr == 'de' %}PLZ{% else %}Postcode{% endif %}">
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control form-control-sm" required="true" id="place" name="place"
                       value="{{ place }}"
                       placeholder="{% if language_abbr == 'de' %}Ort{% else %}Place of residence{% endif %}">
            </div>
        </div>
    </div>
</div>