body{
    background: url("/static/img/background.jpg");
    background-size: contain;
    background-position: left 0px top 10px;
    background-attachment: fixed;
    font-family: "Nunito Sans", sans-serif !important;
}

$theme-colors: (
    "info": #57BBBF,
    "primary": #57BBBF,
    "dark": #57BBBF,
    "success": #57BBBF,
    "warning": #bcbcbc,
    "danger": #bcbcbc
);

@import "../node_modules/bootstrap/scss/bootstrap";

.main-form {
    width: 450px;
    margin: auto;
}

.d1{
    margin-top: 150px;
}

.ws-button{
    display: inline-block;
    background: gray;
    color: white !important;
    transition: all 0.5s;
    padding: 9px 25px 9px 25px;
    font-weight: 300;
    cursor: pointer;
}
.ws-button:hover{
    background: transparent;
    color: black !important;
    text-decoration: none;
    box-shadow: inset 0px 0px 0px 2px black;
}


.d2{
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;

    .elev-pitch-header{
        font-size: 45px;
        font-weight: 900;
        letter-spacing: 5px;
        margin-bottom: 50px;
    }
    .pn-solution-elev-pitch{
        display: flex;
        flex-direction: row;
    }
    .left{
        padding-top:60px;
        p{
            font-size: 15px;
        }
    }
}


.d3{
    margin-top: 75px;
    background: white;
    padding: 100px 20% 100px 16%;
    .elev-pitch-header{
        font-size: 45px;
        text-transform: capitalize;
        letter-spacing: 5px;
        line-height: 50px;
    }
    p{
        font-size: 15px;
    }
    ul{
        li{
            font-size: 15px;
        }
    }
}

.icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 60px;

    img{
        margin: 0px 25px 0px 25px;
    }
}


.d4{
    margin-top: 75px;
    padding-bottom: 100px;
    padding-top: 100px;
    background: rgba(#57BBBF, 0.7);
}