<div class="col-lg-2">
    <label for="facebook_post_amount_from">{% if language_abbr == 'de' %}Posts von{% else %}Posts
        from{% endif %}</label>
    <select class="selectpicker form-control-sm form-control dropdown" name="facebook_post_amount_from"
            id="facebook_post_amount_from">
        <option value="UNDEFINED" selected
                {% if facebook_post_amount_from == 'UNDEFINED' or facebook_post_amount_from is undefined %}selected{% endif %}>
            beliebig
        </option>
        {% for amount in [1, 2, 5, 7, 12, 15, 20, 25, 35, 50, 75, 100, 150, 200, 250, 350, 500] %}
            <option value="{{ amount }}"
                    {% if facebook_post_amount_from == amount|string %}selected{% endif %}>{{ amount }}</option>
        {% endfor %}
    </select>
</div>
<div class="col-lg-2">
    <label for="facebook_post_amount_to">{% if language_abbr == 'de' %}Posts bis{% else %}Posts to{% endif %}</label>
    <select class="selectpicker form-control-sm form-control dropdown" name="facebook_post_amount_to"
            id="facebook_post_amount_to">
        {% for amount in [1, 2, 5, 7, 12, 15, 20, 25, 35, 50, 75, 100, 150, 200, 250, 350, 500] %}
            <option value="{{ amount }}"
                    {% if facebook_post_amount_to == amount|string %}selected{% endif %}>{{ amount }}</option>
        {% endfor %}
        <option value="UNDEFINED"
                {% if facebook_post_amount_to == 'UNDEFINED' or facebook_post_amount_to is undefined %}selected{% endif %}>
            beliebig
        </option>
    </select>
</div>