<div class="modal fade" id="pwd_reset" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% if language_abbr == 'de' %}Passwort
                    zurücksetzten{% else %}Reset password{% endif %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">{% if language_abbr == 'de' %}
                            Account-E-Mail{% else %}Account-E-Mail{% endif %}:</label>
                        <input type="email" class="form-control" id="receiver_mail">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="ws-button" data-dismiss="modal">{% if language_abbr == 'de' %}
                        Abbrechen{% else %}Cancel{% endif %}</button>
                    <button type="button"
                            onclick="send_pwd_reset_request(document.getElementById('receiver_mail').value)"
                            class="ws-button">{% if language_abbr == 'de' %}Zurücksetzungsanfrage senden{% else %}
                        Send reset request{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
